@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
body {
  /* background: rgba(236, 232, 236, 0.736); */
  background: url("./back.jpg") center/cover;
  background-repeat: no-repeat;
}
.container {
  /* width: 100%; */
}
header {
  height: 60px;
  background: #ffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  padding: 1.5rem 2rem;
}
.logo {
  font-size: 1.45rem;
  font-weight: 600;
}
nav a {
  margin: auto 1rem;
  text-decoration: none;
}
nav button {
  padding: 0.5rem 1rem;
  border: none;
  width: max-content;
}
.chat {
  background: rgb(86, 148, 210);
  padding: 8px 17px;
  border-radius: 1rem;
  font-size: 1rem;
  color: rgb(234, 239, 244);
}
.home {
  /* background: url("./background.jpg") center/cover; */
  background-repeat: no-repeat;
  display: flex;
  height: calc(min(90vh, 100vh));
  width: 100%;
  justify-content: center;
  align-items: center;

}
.content {
  color: rgb(25, 16, 25);
  flex-wrap: wrap;
  margin: auto 0;
  width: 50%;
  padding: 1rem;
}
.name {
  width: 350px;
  /* margin: auto; */
  font-size: 1.5rem;
}
.typewriter {
  margin: 1rem 0;
  height: 1.2em;
  width: 0vw;
  color: orange;
  word-break: break-all;
  font-size: 2.5rem;
  overflow: hidden;
  animation: c 0.5s infinite steps(1), t 3s linear infinite alternate;
}

@keyframes t {
  90%,
  100% {
    width: 390px;
  }
}

@keyframes c {
  0%,
  100% {
    /* box-shadow:   0 0 #ffff; */
  }
  50% {
    /* box-shadow:   0 0 rgb(224, 214, 214); */
  }
}

.profile-pic {
  width: 50%;
  overflow: hidden;
}
.social-media{
  /* background: yellow; */
  margin: 0 2rem ;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

}
.socialmedia-icons{
/* background: #cab8a9; */
/* height: 55px; */
font-size:2rem ;
 

}
.image {
  width: 98%;
  max-width: 300px;
  height: 300px;
  filter: saturate(0);
  margin: 0.25rem auto;
  display: block;
  object-fit: cover;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@media screen and (max-width: 768px) {
  .home {
    flex-direction: column;
  }
}
@-webkit-keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
.profile-pic {
  position: relative;
  z-index: 0;
  width: 300px;
  height: auto;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  overflow: hidden;
}
.profile-pic::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 180%;
  height: 180%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#e97109, #d1570c);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

  -webkit-animation: rotate 4s linear infinite;
  animation: rotate 4s linear infinite;
}
.profile-pic::after {
  content: "";
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
.details {
  display: flex;
  padding: 1rem;
  /* background: rebeccapurple; */
  height: 600px;
  /* width: 100%; */
  justify-content: center;
}
.photo-field {
  /* height: 500px; */
  width: 50%;
  /* background: red; */
}
.photo {
  height: 500px;
  width: 350px;
  border-radius: 2rem;
  margin: auto;
  display: block;
  padding: 0.5rem;
}
.about-field {
  width: 50%;
  padding: 1rem;
  /* background: rgb(221, 13, 162); */
  font-size: 1.5rem;
  margin: auto;
}
.cv-button {
  padding: 8px 17px;

  margin: 2rem 5rem;
  color: aqua;
  background: #e97109;
  border-radius: 1rem;
}
.skill-container {
  width: 100%;
  height: 600px;
  margin-top: 1rem;
  padding: 0.5rem 0.5rem;
  /* background: greenyellow; */
}
.skill-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.skills-field {
  width: 100%;
  /* background: red; */
  display: flex;
  padding: 0.3rem;
  justify-content: center;
}
.left-field {
  height: 500px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  width: 50%;
  /* background: white; */
}
.skillbox{
  /* background: rgb(78, 171, 112); */
  padding: 1rem;
  box-sizing: border-box;
		width: 100%;
		margin: 5px 0;

}
.skillbox p
	{
		letter-spacing: 1px;
		margin: 0 0 5px;
		text-transform: uppercase;
		color: #00000;
		font-weight: bold;

	}
	.skillbox p:nth-child(2)
	{
		float: right;
		position: relative;
		top: -20px;
    /* background: #e97109; */
	}
.skill{
box-sizing: border-box;
		background: rgb(205, 201, 201);
		border-radius: 8px;

}
.level{
  /* background: #bc6834; */
  width: 100%;
  height: 15px;
  border-radius: 8px;


}
.right-field {
  /* background: black; */
  /* height: 500px; */
  width: 50%;
}
.myproject-container {
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  /* background: #d1570c; */
  height: 600px;
}
.project-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  /* background: blueviolet; */
}
.project-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  /* background: greenyellow; */
  padding: 1rem;
  margin: 5rem;
}
.project-box {
  /* color: #ffff; */
  /* font-size: 1.2rem; */
  z-index: 1;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin:  1rem;
  width: 250px;
  height: 300px;
  background: hsl(171, 41%, 87%);
  border-radius: 2rem;
  transition: all;
  transition-duration: .7s;
  
}
.animation{
  /* color: aqua; */
  z-index: -1;
position: absolute;
border-radius: 100%;
background: rgb(208, 52, 255);
transform: translate(-50%,-50%);
width: 0px;
height: 0px;
top: 50%;
left: 50%;
transition: all;
  transition-duration: .5s;
}

.project-box:hover .animation {
   height: 400px;
   width: 400px;
  /* background: #ea9e52; */
}

 
.header-pic {
  width: 110px;
  height: 110px;
  padding: 0.5rem;
  border-radius: 100px;
  margin:  1rem;
}
.contact-container {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  height: 600px;
  
  /* background: blue; */
}
.contact-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.first-container {
  width: 100vw;
  padding: 1rem 1rem;
  display: flex;
  /* background: #8f3e0c; */
  margin: 1rem 1rem;
  justify-content: center;
}

.icons-left {
  /* background: #e97109; */
  display: flex;
  flex-direction: column;
  width: max-content;
  /* padding: 0 5rem; */
}
.contact-icon {
  height: 60px;
  width: 60px;
  background: rgb(186, 227, 196);
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 1.1rem;
  /* margin: .5rem; */
}
.address {
  display: flex;
  margin: 0.5rem;
  /* padding: .5rem; */
}
.add-text {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.email {
  display: flex;
  margin: 0.5rem;
  /* padding: .5rem; */
}
.mail-text {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.phone {
  display: flex;
  margin: 0.5rem;
  /* padding: .5rem; */
}
.call-text {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.input-right {
  width: max-content;
  /* padding: 0 4rem; */
  /* background: #d1570c; */
}
.name-field {
  padding: 0.5rem;
}
.first-last{
  width: 16rem;
}
.input-message {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.7rem;
  width: 35rem;
}
input {
  padding: 0.7rem;
  /* width: max-content; */
  border-radius: 1rem;
  margin: 0.5rem 0.5rem;
}
.send-message{
height: 40px;
width: 100px;
padding: .2rem;
border-radius: 1rem;
background: rgb(117, 199, 117);
margin: 1rem  7rem;
}